<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<title>{% block title %}  {% endblock title %}</title>
		   {% block css %}<link href="{% static 'bootstrap-3.3.1/css/boostrap.min.css' %}" rel="stylesheet">{% endblock css %}
		   {% block js %}<link href="{% static 'bootstrap-3.3.1/js/botstrap.min.js'%}" rel="javascript">{% endblock js %}
	</head>
	<body>
	{% block heading %}

	 {% endblock heading %}

	{% block content %}

	{% endblock content %}

	{% block footer %}

	{% endblock footer %}
 	</body>

</html>
