{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- These first three meta tags must come first in the head-->
	<meta name="descriptio" content="">
	<meta name="author" content="Alison Mukoma">
	<link rel="icon" href="../../favicon.ico">

	<title>{% block title %} Your Shopping Basket!! {% endblock title %}</title>
			<!-- Bootstrap core CSS -->
		    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
				<link href="{% static 'css/navbar-static-top.css' %}" rel="stylesheet"

	<div class="navbar navbar-inverse">
		 <div class="container">
			 <div class="navbar-header">
				 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
			  	<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				 </button>
				 <a class="navbar-brand" href="#"> Shopping Basket</a>
			 </div>

			 <ul class="nav navbar-nav navbar-right">
				 <li><a href="../navbar/">Default</a></li>
				 <li class="active"><a href="./">Static top<span class="sr-only">(current)</span></a></li>
				 <li><a href="../navbar-fixed-top/">Fixed top</a></li>
			 </ul>
		 </div>
	 </div>

 </head>
 <body>
	 {% block content %}
		<div class="container">
			<div class="jumbotron">
				{% block heading %}<h1>Welcome To Your Spida Shopping Basket!</h1>{% endblock heading%}
		  <p>There is no easy or convenient way of checking the return code when data is sent to the
				customer. </p>
		  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
		</div>

	</div>	<!-- /container -->

	{% endblock content %}

	{% block footer %}
		<script src="https://ajax.googleapis.com/ajax/jQuery/1.11.2/jquery.min.js"></script>
		<script src="../../dist/js/bootstrap.min.js"></script>
		<!-- IE10 viewport hack for Surface/desktop windows 8 gub -->
		<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
	{% endblock footer %}
 	</body>
</html>
