{% extends "_layout/base.html" %}
{% load staticfiles %}
<html>
<head>
	<title>{% block title %}  {% endblock %}</title>
		   {% block css %}<a href="{}" type="text/stylesheet"></a>{% endblock %}
		   {% block js %}<a href="{}" type="javascript"></a>{% endblock %}
	</head>
	<body>
	  {% block content %} | {{ block.super }}
		 {% for item in items %}
		 	<div class="container">
			 <img src="{{ MEDIA_URL }}{{ item.image.url }}" width="150px" alt="{{ item.brand_name }}" class=img-responsive img-rounded/>
		 		{{ item.brand_name }}
				<br/>
		 	</div>
		 {% endfor %}
	{% endblock content %}

	{% block footer %}

	{% endblock footer %}
 	</body>

</html>
