{% extends "_layout/base.html" %}
<html>
<head>
	<title>{% block title %}  {% endblock %}</title>
		   {% block css %}<a href="{}" type="text/stylesheet"></a>{% endblock %}
		   {% block js %}<a href="{}" type="javascript"></a>{% endblock %}	
	</head>
	<body>
	{% block heading %}
		<h1>Home page:</h1> 
	 {% endblock heading %}
	 
	  {% block content %} 
		 {% for item in model_data %}
		 	<div class="container">
		 		{{ item.logo }}
		 		{{ item.brand_name }}
		 	</div>
		 {% endfor %}
	{% endblock content %}
	
	{% block footer %} 
	
	{% endblock footer %}  
 	</body>

</html>
